/*
colors
  brown = rgb(143, 104, 68);


*/
a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

li {
  list-style-type: none;
}

#gallery_heading{
  margin-top: 8%;
  color: rgb(95, 27, 0);
  font-size: 10rem;
  font-family:Impact, Haettenschweiler, 'Narrow', sans-serif;
  width: 100%;

}

a:hover{
 color: rgb(212, 193, 193);
}

/* Add a black background color to the top navigation */
.topnav {
  text-align: right;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  opacity: 1;
}

#ordernow{
  background-color: rgb(143, 104, 68);
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
  margin-top: 2%;
}

#ordernow:hover{
  background-color: rgb(223, 139, 71);
  color: black;
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: ;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

#bottompart{
  background-color: rgb(231, 182, 136);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#menubar{
  background-color: rgb(143, 104, 68);
  font-size: 1.5rem;
  min-height: 4ch;
  padding-top: 0.5ch;
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
}

#address{
  font-size: 1.4rem;
  background-color: burlywood;
  font-family:'Times New Roman', Times, serif;
}

#title{
  color: rgb(46, 19, 8);
  font-size: 10rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 1000;
  width: 100%;
}

.products
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;  
  border: none;
outline: 0;
padding: 12px;
color: rgb(255, 255, 255);
background-color: rgb(143, 104, 68);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;    
color: rgb(0, 0, 0);
font-size: 22px; 

}

.products button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(46, 19, 8);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding-top: 1rem;
}

.products button:hover {
  color: rgb(46, 19, 8);
  background-color: white;
}


.products img {
  filter: grayscale(0%)
}


#gallery img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
  -webkit-transition: transform 0.3s ease-in-out;
}

img{
  filter: grayscale(70%);
}

#ordernow{
  background-color: rgb(143, 104, 68);
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
  margin-top: 2%;
}

#ordernow:hover{
  background-color: rgb(223, 139, 71);
  color: black;
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
}


.textover{
  background-image: url(https://i.ibb.co/zVx7C15/6307467869-610137be5f-o.jpg);
  background-size: cover;
  color:white;
  filter: grayscale(10%);
  height: 30rem;
  background-color: rgba(255, 0, 0, 0.5); /* Tint color */
  background-blend-mode: multiply;
  filter: sepia(70%);
}

.supptext
{
  border-top: 5em;
  background-color: burlywood;
  color: whitesmoke;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.proctext
{
  border-top: 5em;
  background-color: rgb(241, 172, 81);
  color: whitesmoke;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.servtext
{
  border-top: 5em;
  background-color: burlywood;
  color: whitesmoke;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}


.col-sm-4
{
  
  border-radius: 25px;
  padding: 1em;  
  /*box-shadow: 0.5rem 0.6rem rgba(0, 0, 0, 0.164);*/

}


footer {
  margin-bottom: 2%;
  color: rgb(46, 19, 8);
}

#mainbody_backgroundimage
{
  background: url(https://images3.alphacoders.com/665/665435.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  #mailinglist
  {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    color: rgb(95, 27, 0);
    font-size: 1.4rem;
    font-family:'Bebas Neue', cursive;
    width: 100%;
  }

  #contact
  {
    margin-top: 1em;
    color: rgb(95, 27, 0);
    font-size: 1.5rem;
    font-family:'Bebas Neue', cursive;
    width: 100%;
    padding-bottom: 1em;
  }
 
  .FAQcontainer
  {
    margin: 1.5;
    font-size: xx-small;
  }
  .accordion-item
  {
    color: whitesmoke;
    background-color: rgb(223, 139, 71);
    margin: 5rem;
    padding: 1rem;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.6rem rgba(0, 0, 0, 0.164);
  }
  .accordion-link
  {
    font-size: 3rem;
    color: rgb(221, 210, 210);
    text-decoration: none;
    width: 100%;
    padding: 2.5rem;
  }

  .answer
  {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms;
    font-size: 1.9rem;
  }
  
  .accordion-item:target .answer
  {
    max-height: 25rem;
  }

  
  .body
  {
    margin: 1.5em;
  }

  .FAQcontainer
  {
    margin: 1.5em;
    font-size: xx-small;
  }
  .accordion-item
  {
    color: rgb(44, 1, 1);
    background-color: rgb(223, 139, 71);
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.6rem rgba(0, 0, 0, 0.164);
  }
  .accordion-link
  {
    font-size: 3rem;
    color: rgb(36, 29, 29);
    text-decoration: none;
    width: 100%;
    padding: 2.5rem;
  }

  .answer
  {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms;
    font-size: 1.9rem;
  }
  
  .accordion-item:target .answer
  {
    max-height: 25rem;
  }

  
  .body
  {
    margin: 1.5em;
  }