/*
colors
  brown = rgb(143, 104, 68);


*/
a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

#ordernow{
  background-color: rgb(143, 104, 68);
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
  margin-top: 2%;
}

#ordernow:hover{
  background-color: rgb(223, 139, 71);
  color: black;
  font-size: 4ch;
  border-radius: 7ch;
  width: 30%;
}


a:hover{
 color: rgb(255, 255, 255);
}

/* Add a black background color to the top navigation */
.topnav {
  text-align: right;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: ;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#menubar{
  background-color: rgb(143, 104, 68);
  font-size: 1.5rem;
  min-height: 4ch;
  padding-top: 0.5ch;
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
}

#address{
  font-size: 1.1rem;
  background-color: burlywood;
}

#title{
  color: rgb(46, 19, 8);;
  font-size: 10rem;
  font-family: 'Bebas Neue', cursive;
  text-shadow: -2px 0px #ffd000;
  font-weight: 1000;
}


.textover{
  background-image: url(https://i.ibb.co/zVx7C15/6307467869-610137be5f-o.jpg);
  background-size: cover;
  color:white;
  filter: grayscale(10%);
  height: 30rem;
  background-color: rgba(255, 0, 0, 0.5); /* Tint color */
  background-blend-mode: multiply;
  filter: sepia(70%);
}

.supptext
{
  border-top: 5em;
  background-color: burlywood;
  color: whitesmoke;
}

#story{
 
}

.row
{
}

.col-sm-4
{
  border-radius: 25px;
  padding: 1em;  

}

#mainbody_backgroundimage{
  background: url(https://images3.alphacoders.com/665/665435.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  #mailinglist
  {
    margin-top: 5em;
  }

  .FAQcontainer
  {
    margin: 1.5, 1.5em;
  }
  .accordion-item
  {
    color: whitesmoke;
    background-color: rgb(160, 69, 16);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.6rem rgba(0, 0, 0, 0.164);
  }
  .accordion-link
  {
    font-size: 1.8rem;
    color: rgb(221, 210, 210);
    text-decoration: none;
    width: 100%;
    padding: 1rem 0;
  }

  .answer
  {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms;
  }
  
  .accordion-item:target .answer
  {
    max-height: 25rem;
  }
  .body
  {
    margin: 1.5em;
  }
