{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monavie</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'main/all.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>

  <div id=mainbody_backgroundimage style="min-height: 30rem;">
  </div>
  <div id=mainbody>



    <div id=menubar class="container-fluid sticky-top">
      <div class="row text-center">
        <a class="col-sm-3" href="{% url 'home' %}">HOME</a>
        <a class="col-sm-3" href="{% url 'shop' %}">SHOP</a>
        <a class="col-sm-3" href="{% url 'aboutus' %}">ABOUT US</a>
        <a class="col-sm-3" href="{% url 'faq' %}">FAQ</a>
      </div>

    </div>

    <div id=address class="text-center container-fluid">
      Jahangir Gate, New Airport Road, Dhaka 1206
    </div>
    <div id=title class="text-center">
      Monavie
    </div>
    <div id=subtitle class="text-center">
      <h3>Gourmet Beef Jerky And Fresh Cuts</h3>
    </div>



    <div id=story class="suppliercontainer text-center">
      <div class="supptext">
        <div class="row">
          <div id="story_heading">
            <h3 style="color: rgb(92, 40, 20); font-size: 3rem; margin-bottom: 2rem;">Our Suppliers</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Beef, carabeef, and lamb</h3>
          </div>
        </div>
        <div class="row">
          <div id="Beef supplies">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Spices</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Teas</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
      </div>

    </div>

    <div id=story class="processcontainer text-center">
      <div class="proctext">
        <div class="row">
          <div id="story_heading">
            <h3 style="color: rgb(92, 40, 20); font-size: 3rem; margin-bottom: 2rem;">Our Processes</h3>
          </div>
        </div>
        <div class="row">
          <div id="beef">
            <h3>Butchering</h3>
          </div>
        </div>
        <div class="row">
          <div id="Beef_supplies">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="curing">
            <h3>Curing</h3>
          </div>
        </div>
        <div class="row">
          <div id="curing_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="drying">
            <h3>Drying</h3>
          </div>
        </div>
        <div class="row">
          <div id="drying_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
      </div>

    </div>

    <div id=story class="servicescontainer text-center">
      <div class="servtext">
        <div class="row">
          <div id="story_heading">
            <h3 style="color: rgb(92, 40, 20); font-size: 3rem; margin-bottom: 2rem;">Our Services</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Own delivery service</h3>
          </div>
        </div>
        <div class="row">
          <div id="Beef supplies">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Party catering</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
        <div class="row">
          <div id="story_date">
            <h3>Bulk sales</h3>
          </div>
        </div>
        <div class="row">
          <div id="story_paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quibusdam fugiat sequi, reiciendis quis
            culpa
            tempora cumque officiis quia error velit dolor. Debitis autem nulla provident! Dignissimos aperiam,
            accusamus
            voluptatibus maiores cumque velit enim ipsa doloribus ea corporis nihil repellendus officia quidem veniam
            error, maxime amet necessitatibus incidunt? Recusandae maiores maxime accusamus asperiores facere aliquid
            culpa, nesciunt ab, id corrupti veritatis repellendus consequuntur repudiandae. Eos veniam itaque natus
            aperiam? Blanditiis eos necessitatibus doloribus culpa ratione recusandae veniam sed aliquam ab? Accusantium
            molestiae quam, harum nemo, quo voluptatem eaque odio natus recusandae consequuntur incidunt quae, repellat
            illo corporis accusamus temporibus sapiente!
          </div>
        </div>
      </div>

    </div>



    <div id="location">

    </div>
    <div id="gotop">

    </div>
    <div id=ordernow class="container-fluid" style="margin-bottom: 2rem;">
      <div class="row text-center">
        <a class="col-sm-12" href="{% url 'ordernow' %}">Order Now</a>
      </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>