{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monavie</title>
  <link rel="shortcut icon" type="image/jpg"
    href="https://upload.wikimedia.org/wikipedia/commons/b/b2/NYCS-bull-trans-M_brown.svg" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'main/all.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>

  <div id=mainbody_backgroundimage style="min-height: 30rem;">
  </div>
  <div id=mainbody>



    <div id=menubar class="container-fluid sticky-top">
      <div class="row text-center">
        <a class="col-sm-3" href="{% url 'home' %}">HOME</a>
        <a class="col-sm-3" href="{% url 'shop' %}">PRODUCTS</a>
        <a class="col-sm-3" href="{% url 'aboutus' %}">ABOUT US</a>
        <a class="col-sm-3" href="{% url 'faq' %}">FAQ</a>
      </div>

    </div>

    <div id=address class="text-center container-fluid">
      Jahangir Gate, New Airport Road, Dhaka 1206
    </div>
    <div id=title class="text-center">
      Monavie
    </div>
    <div id=subtitle class="text-center">
      <h3>Gourmet Beef Jerky And Fresh Cuts</h3>
    </div>
    <div id=ordernow class="container-fluid">
      <div class="row text-center">
        <a class="col-sm-12" href="{% url 'ordernow' %}">Order Now</a>
      </div>

    </div>
    <div id=story class="text-center container">
      <div class="body">
        <section>
          <div class="FAQcontainer">
            <div class="accordion">

              <div class="accordion-item" id="q1">
                <a class="accordion-link" href="#q1" style="font-size: x-large;">
                  How is beef jerky made?
                </a>
                <div class="answer" style="font-size: small;">
                  Beef is sliced into lean pieces, wrapped in plastic wrap, and put in the freezer. Prepare the marinade
                  with a sweet and savory touch of spices and ingredients. Mix with pieces of beef and dry it out with
                  the help of dehydrator.
                </div>
              </div>
              <div class="accordion-item" id="q2">
                <a class="accordion-link" href="#q2" style="font-size: x-large;">
                  Is beef jerky healthy?
                </a>
                <div class="answer" style="font-size: small;">
                  Yes, beef jerky is a healthy snack and is low in calories. People usually suggest beef jerky when you
                  are on a diet as a snack. It is full of protein and potassium. It is a dry snack and no oil or fatty
                  additives are involved in the making of beef jerky, which makes it a low calorie snack altogether.
                </div>
              </div>
              <div class="accordion-item" id="q3">
                <a class="accordion-link" href="#q3" style="font-size: x-large;">
                  How to eat beef jerky?
                </a>
                <div class="answer" style="font-size: small;">
                  There are many ways to eat beef jerky; adding extra sauces makes it tastier. Crumble the jerky strips
                  into pieces and mix in a curry, or eat the jerky with salt and pepper sprinkled on it. Simple yet
                  suitable ways of eating beef jerky are always the best.
                </div>
              </div>
              <div class="accordion-item" id="q4">
                <a class="accordion-link" href="#q4" style="font-size: x-large;">
                  How many calories in beef jerky?
                </a>
                <div class="answer" style="font-size: small;">
                  Beef Jerky is rich in proteins and full nutritional value. 99g of beef jerky pieces contains
                  approximately 369 calories, made up of 30g of protein, 10g carbohydrates, 23g of fats and 8g of sugar,
                  plus trace amounts of sodium and fiber.
                </div>
              </div>
              <div class="accordion-item" id="q5">
                <a class="accordion-link" href="#q5" style="font-size: x-large;">
                  Which cuts are used for beef jerky?
                </a>
                <div class="answer" style="font-size: small;">
                  When it comes to selecting the cut of the meat to make jerky, the leaner the better; there is no
                  single best cut. Top round and bottom round are most people’s favorite cuts. Sirloin tip and flank
                  steak are the lean and most expensive cuts.
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>

      <div id="location">

      </div>
      <div id="gotop">

      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>